.joystick {
  height: 130px;
  margin: 30px;
  transform: rotate(45deg);
  width: 130px;
}

.joystick__button {
  background: #000;
  border-radius: 25%;
  border: 5px solid transparent;
  box-shadow: 0 0 7px #7f7;
  color: transparent;
  height: 50px;
  margin: 7px;
  width: 50px;
}

.joystick__button:focus {
  outline: none;
}

.joystick__button:active {
  background-color: #141414;
  box-shadow: 0 0 7px #fff;
}

.up {
  border-color: transparent #7f7 #7f7 transparent;
}

.up:active {
  border-color: transparent #fff #fff transparent;
}

.right {
  border-color: transparent transparent #7f7 #7f7;
}

.right:active {
  border-color: transparent transparent #fff #fff;
}

.left {
  border-color: #7f7 #7f7 transparent transparent;
}

.left:active {
  border-color: #fff #fff transparent transparent;
}

.bottom {
  border-color: #7f7 transparent transparent #7f7;
}

.bottom:active {
  border-color: #fff transparent transparent #fff;
}
